<%= require('./html-includes/header.html')() %>


<section class="grow not-found">

  <img src="img/404.png" alt="" class="mb-10 sm:mb-20">

  <div class="max-sm:text-sm">
    Возможно, запрашиваемая Вами страница была перенесена или удалена. <br class="max-sm:hidden">
    Либо Вы допустили небольшую опечатку при вводе адреса.
  </div>
  <div class="mt-8 mx-auto">
    <a href="/" class="btn btn-primary btn-theme-fill">Вернуться на главную</a>
  </div>
</section>


<%= require('./html-includes/footer.html')() %>