<%= require('./html-includes/header.html')() %>





<div class="bg-l3">
  <section class="started">
    <div class="started-image" data-animation="fadeIn">
      <img src="img/started.jpg" alt="">
      <div class="started-ellipse"></div>
    </div>
    <div class="started-content">
      <div class="started-title mb-4 md:mb-5" data-animation="fadeInUp">
        <span class="text-[#7D94AB]">ремонт</span> квартир <br> под ключ
      </div>
      <div class="text-sm md:text-lg mb-6 md:mb-11" data-animation="fadeInUp" data-delay="0.1">
        Стильный и комфортный для жизни ремонт <br>
        с гарантией 2 года и рассрочкой платежа
      </div>

      <div class="flex gap-3 sm:gap-12 max-sm:flex-col">
        <div class="max-sm:flex items-center gap-4" data-animation="fadeInUp" data-delay="0.1">
          <c-icon class="icon text-primary text-2.5xl sm:mb-4" href="img/icons.svg#ruler-pen"></c-icon>
          <div>
            <div class="text-lg sm:text-xl font-bold font-alt mb-1 sm:mb-3">
              Бесплатный <br class="max-sm:hidden">
              замер
            </div>
            <div class="text-xs sm:text-sm opacity-70">
              Наш прораб приедет <br class="max-md:hidden">
              к вам для замера <br class="max-md:hidden">
              объекта и расчета <br class="max-md:hidden">
              стоимости ремонта
            </div>
          </div>
        </div>
        <div class="max-sm:flex items-center gap-4" data-animation="fadeInUp" data-delay="0.2">
          <c-icon class="icon text-primary text-2.5xl sm:mb-4" href="img/icons.svg#bill-check"></c-icon>
          <div>
            <div class="text-lg sm:text-xl font-bold font-alt mb-1 sm:mb-3">
              Фиксация <br class="max-sm:hidden">
              цены
            </div>
            <div class="text-xs sm:text-sm opacity-70">
              Даем гарантию, что <br class="max-md:hidden">
              в процессе работы <br class="max-md:hidden">
              стоимость и сроки <br class="max-md:hidden">
              ремонта не изменятся
            </div>
          </div>
        </div>
        <div class="max-sm:flex items-center gap-4" data-animation="fadeInUp" data-delay="0.3">
          <c-icon class="icon text-primary text-2.5xl sm:mb-4" href="img/icons.svg#widjet"></c-icon>
          <div>
            <div class="text-lg sm:text-xl font-bold font-alt mb-1 sm:mb-3">
              Функциональный <br class="max-sm:hidden">
              интерьер
            </div>
            <div class="text-xs sm:text-sm opacity-70">
              Укомплектуем <br class="max-md:hidden">
              квартиру всей <br class="max-md:hidden">
              необходимой <br class="max-md:hidden">
              мебелью под ключ
            </div>
          </div>
        </div>
      </div>

      <div class="mt-6 sm:mt-11 flex flex-col gap-4 sm:w-max" data-animation="fadeInUp">
        <button class="btn btn-primary btn-theme-fill btn-lg">
          <span class="sm:text-lg">Рассчитать стоимость</span>
        </button>
        <button class="btn btn-primary btn-contur border-default/20 btn-lg gap-2 max-sm:px-3">
          <img src="img/youtube.svg" alt="" class="icon text-1.5xl">
          <span class="text-sm sm:text-lg text-default">Посмотрите как мы делаем ремонт</span>
        </button>
      </div>
    </div>
  </section>
</div>



<!-- Расчет стоимости -->
<section class="calc p-section">
  <div class="flex lg:items-center mb-10 max-lg:flex-col gap-4">
    <div class="title" data-animation="fadeInUp">
      <span>Расчет</span> стоимости
    </div>

    <div class="flex gap-6 items-center lg:ml-auto" data-animation="fadeInUp">
      <div class="calc-head-image">
        <c-icon class="icon" href="img/icons.svg#file-check"></c-icon>
      </div>
      <div class="font-medium max-sm:text-sm">
        В течение 10 минут вы получите предварительную смету <br>
        + каталог наших проектов с ценами на все работы
      </div>
    </div>
  </div>

  <div class="qwiz overflow-hidden" data-animation="fadeInUp">
    <form class="qwiz-slider swiper w-full max-lg:overflow-visible">
      <div class="swiper-wrapper">
        <div class="qwiz-slide swiper-slide">
          <div class="font-alt font-bold text-xl sm:text-3.5xl mb-6 sm:mb-10">Где хотите сделать ремонт?</div>
          <div class="flex flex-col gap-3">
            <% for(let ii = 0; ii < 4; ii++) { %>
            <label class="qwiz-checkbox btn btn-primary btn-light">
              <input type="checkbox" class="peer hidden">
              Новостройка
              <c-icon class="icon text-2xl ml-auto hidden peer-checked:block" href="img/icons.svg#gal-ochka"></c-icon>
            </label>
            <% } %>
          </div>

          <div class="mt-10"></div>
          <div class="mt-auto flex gap-4">
            <button class="btn btn-primary w-1/2 sm:w-36 btn-contur border-default/20 text-default qwiz-prev">
              Назад
            </button>
            <button class="btn btn-primary w-1/2 sm:w-36 btn-theme-fill qwiz-next">
              Дальше
            </button>
          </div>
        </div>
        <div class="qwiz-slide swiper-slide">
          <div class="font-alt font-bold text-xl sm:text-3.5xl mb-6 sm:mb-10">Площадь ремонтируемого
            помещения?</div>
          <div class="flex flex-col gap-3">
            <label class="block">
              <div class="font-semibold mb-2">Площадь, м2</div>
              <input type="text" class="input rounded-xl w-full lg:w-[440px] max-w-full">
            </label>
          </div>
          <label class="mt-8 flex items-center gap-2">
            <input type="checkbox" class="radio rounded-full">
            <div class="font-semibold">Пропустить вопрос</div>
          </label>

          <div class="mt-10"></div>
          <div class="mt-auto flex gap-4">
            <button class="btn btn-primary w-1/2 sm:w-36 btn-contur border-default/20 text-default qwiz-prev">
              Назад
            </button>
            <button class="btn btn-primary w-1/2 sm:w-36 btn-theme-fill qwiz-next">
              Дальше
            </button>
          </div>
        </div>
        <div class="qwiz-slide swiper-slide">
          <div class="font-alt font-bold text-xl sm:text-3.5xl mb-4 sm:mb-10">Площадь ремонтируемого
            помещения?</div>
          <div class="flex flex-col gap-3">
            <label class="block">
              <div class="font-semibold mb-2">Имя</div>
              <input type="text" class="input rounded-xl w-full lg:w-[440px] max-w-full" required>
            </label>
            <label class="block">
              <div class="font-semibold mb-2">Номер телефона</div>
              <input type="tel" class="input rounded-xl w-full lg:w-[440px] max-w-full" required>
            </label>
            <div>
              <div class="font-semibold mb-2">Как с вами удобнее связаться?</div>
              <div class="flex gap-1 xs:gap-3 w-full lg:w-[440px] max-w-full max-xs:flex-col">
                <label class="qwiz-soc grow btn">
                  <input type="radio" class="hidden" name="soc" checked>
                  <div class="size-[30px] rounded-full flex bg-[#33AADE]">
                    <c-icon class="icon text-sm text-white m-auto" href="img/icons.svg#telegram"></c-icon>
                  </div>
                  <div class="text-sm">В Telegram</div>
                </label>
                <label class="qwiz-soc grow btn">
                  <input type="radio" class="hidden" name="soc">
                  <div class="size-[30px] rounded-full flex bg-[#26D044]">
                    <c-icon class="icon text-sm text-white m-auto" href="img/icons.svg#whatsapp"></c-icon>
                  </div>
                  <div class="text-sm">В WhatsApp</div>
                </label>
                <label class="qwiz-soc grow btn">
                  <input type="radio" class="hidden" name="soc">
                  <div class="size-[30px] rounded-full flex bg-[#B8BAEF]">
                    <img src="img/phone-color.svg" alt="" class="icon text-lg text-white m-auto">
                  </div>
                  <div class="text-sm">Позвонить</div>
                </label>
              </div>
            </div>
          </div>

          <div class="mt-5"></div>
          <div class="mt-auto flex gap-4">
            <button class="btn btn-primary w-1/2 sm:w-36 btn-contur border-default/20 text-default qwiz-prev">
              Назад
            </button>
            <button class="btn btn-primary w-1/2 sm:w-36 btn-theme-fill ">
              Отправить
            </button>
          </div>
        </div>
      </div>
    </form>

    <div class="qwiz-image ratio ratio-[602/562]">
      <img src="img/qwiz-image.jpg" alt="" class="absolute-fit object-cover">
    </div>
  </div>
</section>
<script>
  const slider = new Swiper('.qwiz-slider', {
    spaceBetween: 20,
    slidesPerView: 'auto',
    touchRatio: 0,
    navigation: {
      prevEl: '.qwiz-prev',
      nextEl: '.qwiz-next'
    }
  })

  const qwiz = new Qwiz(document.querySelector('.qwiz'), slider)
  qwiz.init()
</script>

<!-- Пакетные ремонты – всё включено! -->
<section class="package p-section overflow-hidden rounded-section">
  <div class="title text-center mb-6 sm:mb-10" data-animation="fadeInUp">Пакетные ремонты – всё включено!</div>

  <div class="package-slider swiper -mx-2.5 max-lg:overflow-visible" data-animation="fadeInUp">
    <div class="swiper-wrapper">
      <% for(let i = 0; i < 4; i++) { %>
      <div class="swiper-slide px-2.5 w-[296px] lg:w-1/4 pb-2">
        <div class="package-item h-full">
          <div class="ratio ratio-[276/234] package-item-image">
            <img src="img/test.gif" alt="" class="absolute-fit object-cover">
          </div>
          <div class="p-4 pt-6">
            <div class="px-2">
              <div class="font-alt font-bold text-1.5xl mb-1">Классика</div>
              <div class="font-medium mb-6">от 24 000 до 29 000 ₽/м2</div>
              <div class="text-sm opacity-70">
                В пакет включены черновые
                и чистовые материалы и работы
              </div>
              <div class="mt-6"></div>
              <button class="mt-auto btn btn-primary btn-contur w-full px-3 border-default/20">
                <span class="text-default">Рассчитать стоимость</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>
<script>
  new Swiper('.package-slider', {
    slidesPerView: 'auto',

  })
</script>

<section class="p-section overflow-hidden">
  <div class="title text-center mb-6 sm:mb-10" data-animation="fadeInUp">
    Наши <span>флагманские</span> проекты
  </div>

  <div class="relative max-lg:px-2" data-animation="fadeInUp">
    <div class="protfolio-slider swiper max-lg:overflow-visible">
      <div class="swiper-wrapper">
        <% for(let i = 0; i < 10; i++) { %>
        <div class="protfolio-item swiper-slide">

          <div class="protfolio-item-images swiper w-full">
            <div class="swiper-wrapper">
              <% for(let ii = 0; ii < 4; ii++) { %>
              <div class="swiper-slide">
                <div class="ratio ratio-1/1 protfolio-item-image">
                  <img src="img/test.gif" alt="" class="absolute-fit object-cover">
                  <div class="absolute-fit flex">
                    <button class="protfolio-item-play btn btn-primary btn-theme-fill btn-icon m-auto btn-[90px]">
                      <c-icon class="icon text-4xl" href="img/icons.svg#play"></c-icon>
                    </button>
                  </div>
                </div>
              </div>
              <% } %>
            </div>
          </div>
          <div class="protfolio-item-content">
            <div class="font-alt font-bold text-xl sm:text-2xl">
              Дизайнерская 2-комнатная квартира 65 м2
              в ЖК Гарантия на Обрывной
            </div>
            <div class="flex gap-1 xs:gap-6 text-2xs xs:text-sm mt-3 max-xs:justify-between">
              <div>
                Обрывная улица, 132/1
              </div>
              <div>
                <span class="opacity-70">Площадь:</span> 65 м2
              </div>
              <div>
                <span class="opacity-70">Срок: </span> 4 мес
              </div>
            </div>
            <div class="mt-5 sm:mt-6 opacity-70 text-sm">
              Современный дизайн квартиры – это максимум свободного пространства.
              Мебели не должно быть слишком много, но вся она обязана быть качественной, соответствующей стилю. Предпочтительны изготовление на заказ или покупка антикварной мебели. А материалы использовались только из высочайшего качества. 3D-панели, люминесцентная краска и т. д.
            </div>

            <div class="protfolio-item-thumbs swiper -mx-1 sm:-mx-2 max-lg:mb-4 lg:mt-10">
              <div class="swiper-wrapper">
                <% for(let ii = 0; ii < 4; ii++) { %>
                <div class="swiper-slide w-1/4 px-1 sm:px-2">
                  <div class="ratio ratio-1/1 protfolio-item-thumb">
                    <img src="img/test.gif" alt="" class="absolute-fit object-cover">
                    <div class="absolute-fit flex">
                      <button class="protfolio-item-play btn btn-primary btn-theme-fill btn-icon m-auto btn-[36px]">
                        <c-icon class="icon text-sm" href="img/icons.svg#play"></c-icon>
                      </button>
                    </div>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
            <div class="mt-auto"></div>
            <div class="flex mt-7 sm:mt-8">
              <button class="btn btn-theme-fill btn-primary ">
                <span class="leading-none">Рассчитать стоимость такого ремонта</span>
              </button>
            </div>
          </div>

        </div>
        <% } %>
      </div>
    </div>
    <div class="absolute top-1/2 -translate-y-1/2 right-full mr-6 max-lg:hidden">
      <button class="btn btn-icon btn-primary btn-whitebg shadow-lg">
        <c-icon class="icon text-black" href="img/icons.svg#to-left"></c-icon>
      </button>
    </div>
    <div class="absolute top-1/2 -translate-y-1/2 left-full ml-6 max-lg:hidden">
      <button class="btn btn-icon btn-primary btn-whitebg shadow-lg">
        <c-icon class="icon text-black" href="img/icons.svg#to-right"></c-icon>
      </button>
    </div>
  </div>
  <div class="relative mt-12">
    <div class="protfolio-slider-pagination absolute slider-pagination"></div>
  </div>

</section>
<script>
  document.querySelectorAll('.protfolio-item').forEach((el) => {
    const thumbs = new Swiper(el.querySelector('.protfolio-item-thumbs'), {
      slidesPerView: 'auto',

    });

    new Swiper(el.querySelector('.protfolio-item-images'), {
      slidesPerView: 1,
      spaceBetween: 16,
      thumbs: {
        swiper: thumbs
      }
    })
  })


  new Swiper('.protfolio-slider', {
    slidesPerView: 'auto',
    spaceBetween: 10,
    centeredSlides: true,
    pagination: {
      el: '.protfolio-slider-pagination',
      clickable: true,
      dynamicBullets: true
    },
    breakpoints: {
      [1199.98]: {
        spaceBetween: 16,
        centeredSlides: false
      }
    }
  })
</script>

<!-- Видео -->
<section class="rounded-section bg-l3 p-section video overflow-hidden">
  <div class="title text-center mb-6 sm:mb-10" data-animation="fadeInUp">Как мы делаем ремонт</div>
  <div class="video-slider swiper max-md:-mx-1.5 max-md:overflow-visible" data-animation="fadeInUp">
    <div class="swiper-wrapper">
      <% for(let i = 0; i < 6; i++) { %>
      <div class="swiper-slide max-md:w-[340px] max-md:px-1.5">
        <div class="rounded-2xl overflow-hidden relative">
          <div class="ratio ratio-[374/208]">
            <img src="img/test.gif" alt="" class="absolute-fit object-cover">
          </div>
          <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
            <img src="img/youtube.svg" alt="" class="icon text-7xl">
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <div class="grid grid-cols-2 lg:grid-cols-3 gap-6">

  </div>
</section>
<script>
  new Swiper('.video-slider', {
    slidesPerView: 'auto',
  })
</script>

<!-- Дизайн-проекты -->
<section class="p-section design">
  <div class="design-image" data-animation="fadeInLeft">
    <img src="img/design.png" alt="">
  </div>
  <div class="design-content">
    <div class="title mb-4 sm:mb-6" data-animation="fadeInUp">
      Дизайн-проекты <br>
      <span>по себестоимости</span>
    </div>
    <div class="sm:text-xl font-semibold mb-4 sm:mb-6" data-animation="fadeInUp">
      Мы разработали более 5000 дизайн-проектов
      для наших клиентов.
    </div>
    <div class="max-sm:text-sm" data-animation="fadeInUp">
      Поэтому мы можем подобрать вам один из наших готовых
      решений бесплатно, либо разработать уникальный дизайн
      интерьера конкретно для вас
    </div>
    <div class="mt-10 " data-animation="fadeInUp">
      <button class="btn btn-primary btn-theme-fill">Получить предложение</button>
    </div>
  </div>
</section>

<!-- Обустройство квартиры -->
<section class="mebel p-section rounded-section bg-l3 overflow-hidden">
  <div class="title mb-4 lg:hidden" data-animation="fadeInUp">
    Мебель Кравченко
  </div>
  <div class="mb-8 lg:hidden" data-animation="fadeInUp">
    Дизайнерская мебель на любой вкус
  </div>
  <div class="mebel-grid">
    <div class="mebel-content">
      <div class="title mb-4 max-lg:hidden" data-animation="fadeInUp">
        Обустройство <span>квартиры</span>
      </div>
      <div class="mb-8 max-lg:hidden" data-animation="fadeInUp">
        Дизайнерская мебель на любой вкус
      </div>
      <div class="opacity-70 max-sm:text-sm" data-animation="fadeInUp">
        Мы основали нашу компанию с целью создавать прекрасные и функциональные предметы мебели, которые подчеркнут индивидуальность и стиль каждого нашего клиента.
        <br><br>
        Для нас мебель — это не только функциональный элемент интерьера, но и произведение искусства, способное передавать эмоции и создавать настроение. Именно поэтому мы придаем особое внимание дизайну и качеству выпускаемой нами продукции.

      </div>
      <div class="mt-6 sm:mt-10 flex flex-wrap gap-3" data-animation="fadeInUp">
        <div class="py-2 px-5 rounded-full border border-default/15">
          <span class="opacity-70">Дизайнерская мебель</span>
        </div>
        <div class="py-2 px-5 rounded-full border border-default/15">
          <span class="opacity-70">Кухни</span>
        </div>
        <div class="py-2 px-5 rounded-full border border-default/15">
          <span class="opacity-70">Спальни</span>
        </div>
        <div class="py-2 px-5 rounded-full border border-default/15">
          <span class="opacity-70">Гостиные</span>
        </div>
        <div class="py-2 px-5 rounded-full border border-default/15">
          <span class="opacity-70">Детские</span>
        </div>
        <div class="py-2 px-5 rounded-full border border-default/15">
          <span class="opacity-70">Ванные</span>
        </div>
      </div>

      <div class="flex mt-6 sm:mt-10" data-animation="fadeInUp">
        <a href="javascript:;" class="btn btn-primary btn-theme-fill">Перейти на платформу</a>
      </div>
    </div>
    <div class="mebel-image ratio ratio-[570/662]" data-animation="fadeInRight">
      <img src="img/mebel.jpg" alt="" class="absolute-fit object-cover">
    </div>
  </div>
</section>

<!-- Почему нам доверяют -->
<section class="p-section belive overflow-hidden">
  <div class="title mb-6 sm:mb-10 lg:hidden" data-animation="fadeInUp">Почему нам доверяют</div>
  <div class="belive-grid">
    <div class="belive-content">
      <div class="title mb-6 sm:mb-10 max-lg:hidden" data-animation="fadeInUp">Почему нам доверяют</div>

      <div class="flex flex-col gap-3 sm:gap-5">
        <% for(let i = 0; i < 5; i++) { %>
        <div data-animation="fadeInUp">
          <div class="flex items-center gap-2">
            <c-icon class="icon text-primary" href="img/icons.svg#gal-ochka-alt"></c-icon>
            <div class="font-alt font-bold text-xl sm:text-1.5xl">2 года гарантии</div>
          </div>
          <div class="mt-2 text-sm opacity-60">
            Гарантийная ответственность за все работы после окончания ремонта
          </div>
        </div>
        <% } %>
      </div>
      <div class="mt-6 sm:mt-10 flex" data-animation="fadeInUp">
        <a href="javascript:;" class="btn btn-primary btn-theme-fill">Оставить заявку</a>
      </div>
    </div>
    <div class="belive-image ratio ratio-[343/320]" data-animation="fadeInUp">
      <img src="img/logo-white.svg" alt="" class="absolute sm:top-10 sm:right-9 top-4 right-3">
      <img src="img/belive.png" alt="" class="absolute top-4 max-w-none left-1/2 -translate-x-1/2 max-sm:w-[140%]">
    </div>

  </div>
</section>

<!-- Бесплатная консультация -->
<section class="pray rounded-section">
  <div class="title mb-4 lg:hidden" data-animation="fadeInUp">
    Бесплатная консультация
    специалиста
  </div>
  <div class="mb-8 lg:hidden" data-animation="fadeInUp">
    Оставьте заявку и мы перезвоним вам в ближайшее время
  </div>
  <div class="pray-content">
    <div class="title mb-6 max-lg:hidden" data-animation="fadeInUp">
      <span class="!text-[#FFC5A5]">Бесплатная</span> консультация
      специалиста
    </div>
    <div class=" max-lg:hidden" data-animation="fadeInUp">
      Оставьте заявку и мы перезвоним вам в ближайшее время
    </div>

    <div class="mt-6 lg:mt-18 pray-checklist" data-animation="fadeInUp">
      <div class="font-alt font-bold text-2xl mb-6">Что вы получите после консультации</div>
      <div class="flex flex-col gap-4">
        <% for(let i = 0; i < 3; i++) { %>
        <div class="flex items-center gap-3">
          <div class="size-5 rounded-full bg-primary flex text-white">
            <c-icon class="icon text-xs m-auto" href="img/icons.svg#gal-ochka"></c-icon>
          </div>
          <div class="max-sm:text-sm">
            Выясним ваши идеи и предпочтения
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
  <div class="pray-form" data-animation="fadeInUp">
    <div class="text-2xl sm:text-3.5xl font-alt font-bold mb-6">Оставить заявку</div>
    <div class="flex flex-col gap-4">
      <label class="block">
        <div class="font-semibold mb-2">Ваше имя</div>
        <input type="text" class="w-full input rounded-xl">
      </label>
      <label class="block">
        <div class="font-semibold mb-2">Номер телефона</div>
        <input type="tel" class="w-full input rounded-xl" placeholder="+ 7 ( _ _ _ ) _ _ _ - _ _ - _ _">
      </label>
    </div>
    <button class="btn btn-primary btn-theme-fill mt-8">Перезвоните мне</button>
    <a href="javascript:;" class="mt-6 text-xs opacity-70 hover:underline block">
      Отправляя форму, Вы даете согласие на обработку
      Ваших персональных данных
    </a>
    <div class="mt-8">
      <div class="font-alt font-bold mb-4">
        или напишите, мы онлайн
      </div>

      <div class="gap-4 flex max-sm:flex-col">
        <a href="javascript:;" class=" btn btn-sm gap-5 pl-2 bg-white/20">
          <input type="radio" class="hidden" name="soc" checked>
          <div class="size-[30px] rounded-full flex bg-[#33AADE]">
            <c-icon class="icon text-sm text-white m-auto" href="img/icons.svg#telegram"></c-icon>
          </div>
          <div class="text-sm mx-auto">В Telegram</div>
        </a>
        <a href="javascript:;" class=" btn btn-sm gap-5 pl-2 bg-white/20">
          <input type="radio" class="hidden" name="soc" checked>
          <div class="size-[30px] rounded-full flex bg-[#26D044]">
            <c-icon class="icon text-sm text-white m-auto" href="img/icons.svg#whatsapp"></c-icon>
          </div>
          <div class="text-sm mx-auto">В WhatsApp</div>
        </a>

      </div>
    </div>
  </div>
</section>

<section class="team p-section overflow-hidden">
  <div class="title text-center mb-6 sm:mb-10" data-animation="fadeInUp">Наша команда</div>

  <div class="team-slider swiper -mx-2 overflow-visible" data-animation="fadeInUp">
    <div class="swiper-wrapper">
      <% for(let i = 0; i < 10; i++) { %>
      <div class="swiper-slide w-64 sm:w-1/2 lg:w-1/3 px-2">
        <div class="team-item">
          <div class="team-item-image ratio ratio-1/1" style="background: #FEB853;">
            <img src="img/team-sempl.png" alt="" class="absolute-fit object-bottom object-scale-down">
          </div>
          <div class="team-item-content">
            <div class="font-alt font-bold sm:text-1.5xl">Александр Кравченко</div>
            <div class="opacity-70 max-sm:text-sm">Руководитель отдела ремонта</div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>
<script>
  new Swiper('.team-slider', {
    slidesPerView: 'auto',
    loop: true,
    centeredSlides: true,
    breakpoints: {
      [609.98]: {
        slidesPerView: 2.01,
      },
      [1199.98]: {
        slidesPerView: 3.01,
      },
    }
  })
</script>

<section class="excursion">
  <div class="excursion-block" data-animation="fadeInUp">
    <div class="excursion-content">
      <div class="title" data-animation="fadeInUp">
        Хотите на экскурсию <br class="max-sm:hidden">
        по нашим объектам?
      </div>
      <div class="mt-6 max-sm:text-sm" data-animation="fadeInUp">
        Вместе с прорабом отправьтесь на экскурсию <br class="max-sm:hidden">
        по нашим действующим объектам и убедитесь <br class="max-sm:hidden">
        в качестве наших работ
      </div>
    </div>
    <div class="excursion-form" data-animation="fadeInUp">
      <div class="font-alt font-bold text-2xl sm:text-3.5xl mb-6">
        Оставить заявку
      </div>
      <div class="flex flex-col gap-4">
        <label class="block">
          <div class="font-semibold mb-2">Ваше имя</div>
          <input type="text" class="w-full input rounded-xl">
        </label>
        <label class="block">
          <div class="font-semibold mb-2">Номер телефона</div>
          <input type="tel" class="w-full input rounded-xl" placeholder="+ 7 ( _ _ _ ) _ _ _ - _ _ - _ _">
        </label>
      </div>
      <button class="btn btn-primary btn-theme-fill mt-8">Перезвоните мне</button>
      <a href="javascript:;" class="mt-6 text-xs opacity-70 hover:underline block">
        Отправляя форму, Вы даете согласие на обработку
        Ваших персональных данных
      </a>
    </div>
  </div>
</section>

<section class="p-section question">
  <div class="title text-center mb-6 sm:mb-10" data-animation="fadeInUp">Вопрос-ответ</div>

  <div class="grid lg:grid-cols-2 sm:gap-4 lg:gap-6 items-start">
    <% for(let i = 0; i < 6; i++) { %>
    <a href="javascript:;" class="question-item btn flex-col px-2 max-sm:-mx-2 sm:p-0 h-auto group" data-toggle-cover data-toggle-link data-animation="fadeInUp">
      <div class="flex items-center sm:px-4 max-sm:py-4 sm:h-20 w-full rounded-none gap-3">
        <c-icon class="icon text-2xl text-[#EE9F73]" href="img/icons.svg#question"></c-icon>
        <div class="font-alt text-sm sm:text-xl font-semibold">Возможно у вас заказать дизайн проект?</div>

        <c-icon class="icon text-xl sm:text-2.5xl ml-auto opacity-40 group-[.toggle-active]:-rotate-90" href="img/icons.svg#to-right"></c-icon>
      </div>
      <div class="sm:p-5 sm:pt-1 max-sm:py-3 active-enabled" data-toggle-content data-toggle-static>
        <div class="text-sm font-normal">
          Вы обращаетесь к нашим менеджерам по телефону указанному на сайте
          или оставляете заявку на расчет стоимости ремонта под ключ. Сметный отдел просчитываем полную стоимость ремонта и если вас устраивает, подписываем договор и начинаем черновые работы согласно графику строительных работ.
        </div>
      </div>
    </a>
    <% } %>
  </div>
</section>




<%= require('./html-includes/footer.html')() %>